/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: black;
  --secondary-color: #47A638;
  --hightlight-color: #D9048E;
  --tekst-color: white;
  --background-color: black;
  --background-highlight-color: #ffffff;


  --shadow-color: #2F4F4F33;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Saira', sans-serif;
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 3em;
  padding-right: 5em;
  z-index: 1;
}

/******************/
/* typografie */
/******************/

h3 {
  font-size: 1.2em;
  text-transform: uppercase;
}

/******************/
/* navigatie */
/******************/

header nav ul li a img:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 5em;
  padding: .75em 0 .75em 2.75em;
}

header nav {

  flex-grow: 1;
  font-weight: bold;

}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1px;
  align-items: center;
}

header nav li {
  flex-grow: 1;
  min-width: 6em;
}

header nav a {
  text-decoration: none;
  outline: none;
  color: var(--tekst-color);
  display: block;
  text-align: center;
  line-height: 3.5em;
  text-transform: uppercase;
}

header nav a.active {
  font-weight: bold;
  cursor: default;
}

header nav a:hover:not(.active) {

  color: var(--hightlight-color);
}

header nav a:focus {
  text-decoration: underline;
}


header nav #lid {
  background-color: var(--secondary-color);
  text-decoration: none;
  outline: none;
  color: var(--tekst-color);
  display: block;
  text-align: center;
  line-height: 3.5em;
  text-transform: uppercase;
}

header nav #lid.active {
  font-weight: bold;
  cursor: default;
}

header nav #lid:hover:not(.active) {
  background-color: white;
  color: var(--hightlight-color);
}

header nav #lid:focus {
  text-decoration: underline;
}

/******************/
/* HAMBURGERMENU */
/******************/

.toggle-button {
  position: fixed;
  top: .75rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 32px;
  background-color: var(--hightlight-color);

}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/******************/
/* HAMBURGERMENU code wanneer die verandert
Bron: https: //www.youtube.com/watch?v=At4B7A4GOPg */
/******************/

@media (max-width: 1155px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
  }

  .toggle-button {
    display: flex;
    border: 2px solid var(--hightlight-color);
  }

  .links {
    display: none;
    width: 100%;
  }

  .links ul {
    width: 100%;
    flex-direction: column;
  }

  .links ul li {
    text-align: left;
    border-bottom: 1px solid var(--hightlight-color);
  }

  .links ul li a {
    padding: .5rem 1rem;
  }


}

/******************/
/* ZOEK FORMULIER */
/******************/
header form {
  padding: .75em;
  background-color: var(--shadow-color);
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header form input {
  width: 0;
  flex-grow: 1;
}

input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font: inherit;
}

header form input {
  min-width: 12em;
  max-width: 38em;
  line-height: 2em;
  padding: 0 .5em;
}

header form button {
  line-height: 2em;
  padding: 0 .5em;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

/******************/
/* MAIN */
/******************/

main {
  color: var(--tekst-color);
  display: flex;
  justify-content: center;
  position: relative;
}

/******************/
/* Eerste Section */
/******************/

main section:first-of-type img:first-of-type {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

main section:first-of-type img:nth-of-type(2) {
  width: 100%;
  position: absolute;
  top: 1em;
  left: 0;

}

main section:first-of-type ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--main-color);

}

main section:first-of-type ul li {
  margin: 0;
  padding: 10px;
  background-color: grey;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;

}

main section:first-of-type ul:first-of-type {
  width: 100%;
  margin: 0;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;

}

main section:first-of-type ul li:first-of-type {
  background-image: url(../images/samen.png);
  background-size: cover;
  background-position: center;
}

main section:first-of-type ul li:first-of-type h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.2em;
  background-color: var(--hightlight-color);
  text-align: center;

}

main section:first-of-type ul li:nth-of-type(2) {
  background-image: url(../images/onbeperkt.jpeg);
  background-size: cover;
  background-position: center;
  border: solid green 0.2em;
  position: relative;
  overflow: hidden;
}

main section:first-of-type ul li:nth-of-type(2) h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.2em;
  background-color: var(--main-color);
  text-align: center;

}

main section:first-of-type ul li:nth-of-type(2) h4 {
  position: absolute;
  right: -4.7em;
  top: 2em;
  width: 15em;
  margin: 0;
  transform: rotate(45deg);
  line-height: 1.5em;
  text-align: center;
  background-color: green;
  font-size: 0.8em;
}

main section:first-of-type ul li:nth-of-type(3) {
  background-image: url(../images/daluren.jpeg);
  background-size: cover;
  background-position: center;
}

main section:first-of-type ul li:nth-of-type(3) h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.2em;
  background-color: #FFEA3D;
  text-align: center;
  color: var(--main-color);
}

main section:first-of-type ul li:nth-of-type(4) {
  background-image: url(../images/flexibel.jpeg);
  background-size: cover;
  background-position: center;
}

main section:first-of-type ul li:nth-of-type(4) h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.2em;
  background-color: var(--secondary-color);
  text-align: center;
}

main section:first-of-type ul li:last-of-type {
  background-image: url(../images/kids.jpeg);
  background-size: cover;
  background-position: center;
}

main section:first-of-type ul li:last-of-type h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.2em;
  background-color: #00B8F1;
  text-align: center;
}

main section:first-of-type ul li p {
  position: absolute;
  background-color: #F48EBC;
  left: 0;
  right: 0;
  top: 40%;
  display: flex;
  justify-content: center;
}

main section:first-of-type ul li h5 {
  position: absolute;
  left: 0;
  top: -0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 5px;
}

main section:first-of-type ul li:first-of-type h5 {
  background-color: var(--hightlight-color);
}

main section:first-of-type ul li:nth-of-type(2) h5 {
  background-color: var(--main-color);
}

main section:first-of-type ul li:nth-of-type(3) h5 {
  background-color: #FFEA3D;
  color: var(--main-color);
}

main section:first-of-type ul li:nth-of-type(4) h5 {
  background-color: var(--secondary-color);
}

main section:first-of-type ul li:last-of-type h5 {
  background-color: #00B8F1;
}

main section:first-of-type button {
  background-color: var(--secondary-color);
  color: var(--tekst-color);
  line-height: 3.5em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0.5em;
}

main section:first-of-type button:hover {
  background-color: var(--hightlight-color);
  color: var(--tekst-color);
  transition: 1s;
}

/******************/
/* Tweede Section */
/******************/

section:nth-of-type(2) {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  background-color: #1D1D1D;
}

section:nth-of-type(2) article {
  position: relative;
}

section:nth-of-type(2) h1 {
  font-size: 3em;
  text-shadow: 2px 2px var(--shadow-color);
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

section:nth-of-type(2) article h3 {
  font-size: 1em;
  text-shadow: 2px 2px var(--shadow-color);

}

section:nth-of-type(2) article img {
  width: 50px;
  height: auto;
  margin: 0.5em;
  position: absolute;
  right: 0;
}

section:nth-of-type(2) article div {
  display: flex;
}

/******************/
/* Derde Section */
/******************/

section:nth-of-type(3) {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1em;
  background-image: url(../images/gymzaal.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(3) h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

section:nth-of-type(3) h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}